{% extends "layout.html" %}
{% block head %}
    <script>
        window.onload =
            function onload() {
                today()
            }
    </script>
{% endblock head %}
{% block content %}
    <div id="account" class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend id="login-title" class="border-bottom mb-4">حساب کاربری</legend>
                <div class="form-group" style="text-align: center; margin-bottom: -8px">
                    <label class="col-md-3" for="years">{{ form.years.label }}</label>
                    <label class="col-md-3" for="month">{{ form.month.label }}</label>
                    <label class="col-md-3" for="days">{{ form.days.label }}</label>
                </div>
                <span class="form-group">
                    <span class="col-md-3" style="display: inline-block">
                        {{ form.years(class="form-control form-control-lg") }}
                    </span>
                    <span class="col-md-3" style="display: inline-block">
                        {{ form.month(**{"class":"form-control form-control-lg", "onchange":"val(this)"}) }}
                    </span>
                    <span class="col-md-3" style="display: inline-block">
                        {{ form.days(class="form-control form-control-lg") }}
                    </span>
                </span>
            </fieldset>
        </form>
        <div class="form-group">
            {{ form.today(**{"class":"btn btn-outline-info", "onclick":"today()"}) }}
        </div>
        <div class="form-group">
            {{ form.prepare(**{"class":"btn btn-outline-info"}) }}
        </div>
    </div>
    <script>
        function val(self) {
            days = document.getElementById("days");
            if (self.value < 7) {
                var option = document.createElement("option");
                if (days.length === 30) {
                    option.value = 31
                    option.text = 31
                    days.appendChild(option);
                }
            } else
                days.remove(30);
        }

        function today() {
            var day = new Date();
            var sun = new Intl.DateTimeFormat("fa-IR").format(day);
            sun = sun.split("/")
            val(sun[1])
            document.getElementById("years").value = sun[0].replace(/[۰-۹]/g, d => '۰۱۲۳۴۵۶۷۸۹'.indexOf(d));
            document.getElementById("month").value = sun[1].replace(/[۰-۹]/g, d => '۰۱۲۳۴۵۶۷۸۹'.indexOf(d));
            document.getElementById("days").value = sun[2].replace(/[۰-۹]/g, d => '۰۱۲۳۴۵۶۷۸۹'.indexOf(d));
        }
    </script>
{% endblock content %}


