{% extends "layout.html" %}
{% block head %}
    <script>
        window.onload =
            function onload() {
                today()
            }
    </script>
{% endblock head %}
{% block content %}
    <div id="account" class="content-section">
        <div style="text-align: center">
            <label class="col-md-3" for="years">سال</label>
            <label class="col-md-3" for="month">ماه</label>
            <label class="col-md-3" for="days">روز</label>
        </div>
        <div>
            <select class="col-md-3" name="years" id="years">
                <option value="1410">1410</option>
                <option value="1409">1409</option>
                <option value="1408">1408</option>
                <option value="1407">1407</option>
                <option value="1406">1406</option>
                <option value="1405">1405</option>
                <option value="1404">1404</option>
                <option value="1403">1403</option>
                <option value="1402">1402</option>
                <option value="1401">1401</option>
                <option value="1400">1400</option>
                <option value="1399">1399</option>
            </select>
            <select class="col-md-3" name="month" id="month" onchange="val(this);">
                <option value="1">فروردین</option>
                <option value="2">اردیبهشت</option>
                <option value="3">خرداد</option>
                <option value="4">تیر</option>
                <option value="5">مرداد</option>
                <option value="6">شهریور</option>
                <option value="7">مهر</option>
                <option value="8">آبان</option>
                <option value="9">آذر</option>
                <option value="10">دی</option>
                <option value="11">بهمن</option>
                <option value="12">اسفند</option>
            </select>
            <select class="col-md-3" name="days" id="days">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
        </div>
        <div>
            <input type="button" id="today" value="برو به امروز" onclick="today()"/>
        </div>
        <div>
            <input type="button" id="prepare" value="پردازش اطلاعات" onclick="submit()"/>
        </div>
    </div>
    <script>
        function val(self) {
            days = document.getElementById("days");
            if (self.value < 7) {
                var option = document.createElement("option");
                if (days.length === 30) {
                    option.value = 31
                    option.text = 31
                    days.appendChild(option);
                }
            } else
                days.remove(30);
        }

        function today() {
            var day = new Date();
            var sun = new Intl.DateTimeFormat("fa-IR").format(day);
            sun = sun.split("/")
            val(sun[1])
            document.getElementById("years").value = sun[0].replace(/[۰-۹]/g, d => '۰۱۲۳۴۵۶۷۸۹'.indexOf(d));
            document.getElementById("month").value = sun[1].replace(/[۰-۹]/g, d => '۰۱۲۳۴۵۶۷۸۹'.indexOf(d));
            document.getElementById("days").value = sun[2].replace(/[۰-۹]/g, d => '۰۱۲۳۴۵۶۷۸۹'.indexOf(d));
        }

        function submit() {
            var day = new Date();
            var sun = new Intl.DateTimeFormat("fa-IR").format(day);
            sun = sun.split("/")
            document.getElementById("years").value = sun[0].replace(/[۰-۹]/g, d => '۰۱۲۳۴۵۶۷۸۹'.indexOf(d));
            document.getElementById("month").value = sun[1].replace(/[۰-۹]/g, d => '۰۱۲۳۴۵۶۷۸۹'.indexOf(d));
            document.getElementById("days").value = sun[2].replace(/[۰-۹]/g, d => '۰۱۲۳۴۵۶۷۸۹'.indexOf(d));
        }
    </script>
{% endblock content %}


